@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('../fonts/subset-OpenSans-Light.woff2') format('woff2'),
		url('../fonts/subset-OpenSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans'), local('OpenSans'),
		url('../fonts/subset-OpenSans.woff2') format('woff2'),
		url('../fonts/subset-OpenSans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy-Light'),
		url('../fonts/subset-Gilroy-Light.woff2') format('woff2'),
		url('../fonts/subset-Gilroy-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy-ExtraBold'),
		url('../fonts/subset-Gilroy-ExtraBold.woff2') format('woff2'),
		url('../fonts/subset-Gilroy-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

body {
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  font-weight: normal;
  font-family: "Open Sans", "Arial", sans-serif;
}

h1 {
  font-size: 47px;
  line-height: 56px;
  color: #000000;
  font-weight: 900;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
}

h2 {
  font-size: 47px;
  line-height: 56px;
  color: #000000;
  font-weight: 900;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
}
