@font-face {
	font-family: "Open Sans";
	src: local("Open Sans Light"), local("OpenSans-Light"),
		url("../fonts/opensanslight.woff2") format("woff2"),
		url("../fonts/opensanslight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: local("Open Sans"), local("OpenSans"),
		url("../fonts/opensans.woff2") format("woff2"),
		url("../fonts/opensans.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: local("Gilroy-Light"),
		url("../fonts/gilroylight.woff2") format("woff2"),
		url("../fonts/gilroylight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: local("Gilroy-ExtraBold"),
		url("../fonts/gilroyextrabold.woff2") format("woff2"),
		url("../fonts/gilroyextrabold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}


body {
	margin: 0;
	padding: 0;

  font-size: 15px;
  line-height: 30px;
  color: #464646;
  font-weight: 300;
  font-family: "Open Sans", "Arial", sans-serif;
	letter-spacing: 0.01em;

	background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
	display: inline-block;

	color: #000000;
	font-size: 18px;
	font-weight: 800;
	line-height: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	text-decoration: none;
	text-transform: uppercase;

	border: none;
	outline: none;
	cursor: pointer;
}

.button--yellow {
	position: relative;
	z-index: 1;

	padding: 14px 44px;

	letter-spacing: 0.2em;

	outline: none;
	background-color: transparent;
}

.button--yellow:active {
	color: rgba(0, 0, 0, 0.3);
}

.button--yellow::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	z-index: -1;

	display: block;
	width: 100%;
	height: 8px;

	background-color: #f7e296;
	transform: translateY(-50%);
	transition: 0.5s;
}

.button--yellow:hover::before,
.button--yellow:focus::before,
.button--yellow:active::before {
	height: 100%;
}

.button--search {
	font-size: 15px;
	line-height: 36px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	letter-spacing: 0.01em;
	text-transform: none;

	border: 2px solid #000000;
	background-color: transparent;
	outline: none;
}

.button--search:hover,
.button--search:focus,
.button--search:active {
	color: #ffffff;
	background-color: #000000;
}

.button--search:active {
	color: rgba(255, 255, 255, 0.3);
}

.slider {
	position: relative;
	z-index: 0;
}

.page-header {
	background-color: #f7e296;
}

.logo {
	margin: 0;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 48px;
	font-weight: 800;
	line-height: 48px;
	color: #000000;
	text-transform: uppercase;
}

.logo a,
.main-nav__user-nav a,
.main-nav__site-nav a,
.breadcrumbs a,
.goods__item a,
.sorting a,
.catalog__item-title a,
.page-footer a {
	font: inherit;
	color: inherit;
	text-decoration: inherit;
}

.logo a[href]:hover,
.logo a[href]:focus {
	opacity: 0.6;
}

.logo a[href]:active {
	opacity: 0.3;
}

.main-nav {
	color: #000000;
	line-height: 36px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
}

.main-nav__user-nav,
.main-nav__site-nav {
	list-style: none;
}

.main-nav__user-nav input {
	background-color: transparent;
	border: none;
}

.main-nav__user-nav input[placeholder] {
	color: rgba(0, 0, 0, 0.3);
	font-size: 15px;
	line-height: 36px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	letter-spacing: 0.01em;
}

.main-nav__user-nav input:hover[placeholder] {
	color: rgba(0, 0, 0, 0.6);
}

.main-nav__user-nav input:focus[placeholder] {
	color: #000000;
}

.main-nav__user-item a:hover,
.main-nav__user-item a:focus,
.main-nav__user-item a:active {
	opacity: 0.6;
}

.main-nav__user-item a:active {
	opacity: 0.3;
}

.main-nav__site-nav {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
}

.main-nav__item {
	letter-spacing: 0.2em;
}

.main-nav__item a {
	cursor: pointer;
}

.main-nav__item a:hover,
.main-nav__item a:focus,
.main-nav__item a:active {
	color: rgba(0, 0, 0, 0.6);
}

.main-nav__item a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-nav__catalog {
	font-size: 15px;
	line-height: 36px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	text-transform: none;
	letter-spacing: 0.1px;

	list-style: none;
}

.page-title {
	color: #000000;
	font-size: 47px;
	font-weight: 800;
	line-height: 47px;
	font-family: "Gilroy", "Arial", sans-serif;
}

.breadcrumbs {
	list-style: none;
}

.breadcrumbs__link {
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link:hover a[href],
.breadcrumbs__link:focus a[href],
.breadcrumbs__link:active a[href] {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active a[href] {
	color: rgba(0, 0, 0, 0.1);
}

.goods__list {
	list-style: none;
}

.goods__item-pic {
	background-color: #f7e296;
}

.goods__item:hover .goods__item-pic,
.goods__item:focus .goods__item-pic,
.goods__item:active .goods__item-pic {
	background-color: #f0c52e;
}

.goods__item-pic:active {
	opacity: 0.3;
}

.goods__item-title {
	color: #000000;
	font-size: 18px;
	line-height: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
}

.services {
	background-color: #e5e5e5;
}

.services__list {
	list-style: none;
}

.services__item-title {
	color: #000000;
	font-size: 47px;
	line-height: 47px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
}

.brands__list {
	list-style: none;
}

.brands__item {
	position: relative;
}

.brands__item-pic--color {
	position: absolute;
	top: 0;
	left: 0;

	opacity: 0;
	transition: 0.5s;
}

.brands__item-pic--color:hover {
	opacity: 1;
}

.about-us,
.contacts {
	letter-spacing: 0;
}

.about-us__title,
.contacts__title {
	color: #000000;
	font-size: 47px;
	line-height: 47px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	letter-spacing: 0.01em;
}

.about-us__delivery-list {
	color: #000000;
	font-size: 16px;
	line-height: 40px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;

	list-style: none;
}

.filters {
	background-color: #efefef;
}

.filters__title {
	color: #000000;
	font-size: 16px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	background-color: #dcdcdc;
}

.filters__section {
	color: #000000;
	font-size: 14px;
	line-height: 40px;

	border: none;
}

.filters__section-title {
	color: #000000;
	font-size: 18px;
	line-height: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
}

.filters__options {
	list-style: none;
}

.slider__item-title {
	color: #000000;
	font-size: 47px;
	font-weight: 800;
	line-height: 47px;
	font-family: "Gilroy", "Arial", sans-serif;
}

.slider__item-tech {
	font-size: 13px;
	line-height: 20px;
}

.slider__item-tech th {
	color: #000000;
	font-size: 36px;
	line-height: 36px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
}

.sorting {
	background-color: #ebebeb;
}

.sorting__title {
	color: #000000;
	font-size: 16px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.sorting__options {
	list-style: none;
}

.sorting__option {
	color: rgba(0, 0, 0, 0.3);
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	letter-spacing: 0;
}

.sorting__option a[href]:hover,
.sorting__option a[href]:focus,
.sorting__option a[href]:active {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.sorting__option a[href]:active {
  color: rgba(0, 0, 0, 1.0);
}

.sorting__option--current {
	color: #000000;
}

.catalog__list {
	list-style: none;
}

.catalog__item-title {
	color: #000000;
	font-size: 18px;
	line-height: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
}

.catalog__item-price {
	color: #464646;
	font-size: 16px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
}

.catalog__item-image {
	position: relative;
	cursor: pointer;
}

.catalog__item-image:hover .catalog__item-overlay {
	display: block;
}

.catalog__item-overlay {
	position: absolute;
	top: 0;
	left: 0;

	display: none;
	width: 360px;
	height: 380px;
	background-color: rgba(238, 238, 238, 0.7);
}

.catalog__item .button {
	color: #000000;
	font-size: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	line-height: 18px;
}

.catalog__item-link {
	font: inherit;
	color: rgba(0, 0, 0, 0.5);
	text-decoration: inherit;
	white-space: nowrap;
}

.catalog__item-link:hover,
.catalog__item-link:focus,
.catalog__item-link:active {
	color: #000000;
}

.catalog__item-link:active {
	color: rgba(0, 0, 0, 0.2);
}

.pagination {
	background-color: #ebebeb;
}

.pagination__list {
	list-style: none;
}

.pagination__item a {
	color: rgba(0, 0, 0, 0.3);
	font-size: 16px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	text-decoration: none;
}

.pagination__item a[href]:hover,
.pagination__item a[href]:focus,
.pagination__item a[href]:active {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__item a[href]:active {
  color: rgba(0, 0, 0, 1.0);
}

.pagination__item--current a {
	color: #000000;
}

.button--prev,
.button--next {
  padding: 15px 30px;

	color: #000000;
	font-size: 16px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	letter-spacing: 0.2em;

  background-color: transparent;
}

.button--prev:hover,
.button--next:hover,
.button--prev:focus,
.button--next:focus,
.button--prev:active,
.button--next:active {
  background-color: #d9d9d9;
}

.button--prev:active,
.button--next:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-footer {
	color: #ffffff;
	background-color: #464646;
}

.logo--footer {
	color: #ffc600;
}

.main-nav--footer {
	color: #ffffff;
}

.main-nav__user-item--footer a,
.main-nav__user-item--footer a,
.main-nav__user-item--footer a {
  opacity: 0.7;
}

.main-nav__user-item--footer a:hover,
.main-nav__user-item--footer a:focus,
.main-nav__user-item--footer a:active {
  opacity: 1;
}

.main-nav__item--footer a:hover,
.main-nav__item--footer a:focus,
.main-nav__item--footer a:active {
  color: rgba(255, 255, 255, 0.6);
}

.main-nav__item--footer a:active {
  color: rgba(0, 0, 0, 0.3);
}

.social {
	list-style: none;
}

.modal__form label {
	color: #000000;
	font-size: 18px;
	line-height: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	letter-spacing: 0;
}

.modal__form input {
	background-color: #f2f2f2;
	border: 3px solid transparent;
	outline: none;
}

.modal__form input:hover {
	background-color: #ebebeb;
}

.modal__form input:focus {
	background-color: #ffffff;
	border: 3px solid #f7e296;
}

.modal__form input:invalid,
.modal__form textarea:invalid {
	background-color: #f6dada;
	border: 3px solid transparent;
	box-shadow: none;
}

.modal__form textarea {
	resize: none;
}

.modal__form input[placeholder],
.modal__form textarea[placeholder] {
	color: rgba(70, 70, 70, 0.4);
	font-size: 14px;
	line-height: 18px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: normal;
	letter-spacing: 0;
}

.main-nav__user-item a.logout {
	color: rgba(0, 0, 0, 0.3);
}
