@font-face {
	font-family: "Open Sans";
	src: local("Open Sans Light"), local("OpenSans-Light"),
		url("../fonts/opensanslight.woff2") format("woff2"),
		url("../fonts/opensanslight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: local("Open Sans"), local("OpenSans"),
		url("../fonts/opensans.woff2") format("woff2"),
		url("../fonts/opensans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: local("Gilroy-Light"),
		url("../fonts/gilroylight.woff2") format("woff2"),
		url("../fonts/gilroylight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: local("Gilroy-ExtraBold"),
		url("../fonts/gilroyextrabold.woff2") format("woff2"),
		url("../fonts/gilroyextrabold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}


body {
	margin: 0;
	padding: 0;
	min-width: 1160px;

  font-size: 15px;
  line-height: 30px;
  color: #464646;
  font-weight: 300;
  font-family: "Open Sans", "Arial", sans-serif;
	letter-spacing: 0.01em;

	background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
	box-sizing: border-box;
	width: 1160px;
	margin: 0 auto;
}

.inner-page .container {
	padding-left: 60px;
}

.columns {
	display: flex;
	justify-content: space-between;
}

.button {
	display: inline-block;

	color: #000000;
	font-size: 18px;
	font-weight: 800;
	line-height: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	text-decoration: none;
	text-transform: uppercase;

	border: none;
	outline: none;
	cursor: pointer;
}

.button--yellow {
	position: relative;
	z-index: 1;

	padding: 14px 44px;

	letter-spacing: 0.2em;

	outline: none;
	background-color: transparent;
}

.button--yellow:active {
	color: rgba(0, 0, 0, 0.3);
}

.button--yellow::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	z-index: -1;

	display: block;
	width: 100%;
	height: 8px;

	background-color: #f7e296;
	transform: translateY(-50%);
	transition: 0.5s;
}

.button--yellow:hover::before,
.button--yellow:focus::before,
.button--yellow:active::before {
	height: 100%;
}

.button--search {
  visibility: hidden;
  padding: 5px 20px;

	font-size: 15px;
	line-height: 36px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	letter-spacing: 0.01em;
	text-transform: none;

	border: 2px solid #000000;
	background-color: transparent;
	outline: none;
}

.button--search:hover,
.button--search:focus,
.button--search:active {
	color: #ffffff;
	background-color: #000000;
}

.button--search:active {
  visibility: visible;

	color: rgba(255, 255, 255, 0.3);
}

.page-header {
	box-sizing: border-box;
	padding: 30px 60px;
	margin-top: 40px;
	margin-bottom: 40px;
	min-height: 300px;

	background-color: #f7e296;
}

.inner-page .page-header {
  min-height: 185px;
}

.logo {
	margin: 0;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 48px;
	font-weight: 800;
	line-height: 48px;
	color: #000000;
	text-transform: uppercase;
}

.logo--header {
  margin-top: -55px;
  margin-bottom: 10px;
}

.logo a,
.main-nav__user-nav a,
.main-nav__site-nav a,
.breadcrumbs a,
.goods__item a,
.sorting a,
.catalog__item-title a,
.page-footer a {
	font: inherit;
	color: inherit;
	text-decoration: inherit;
}

.logo a[href]:hover,
.logo a[href]:focus {
	opacity: 0.6;
}

.logo a[href]:active {
	opacity: 0.3;
}

.main-nav {
	color: #000000;
	line-height: 36px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
}

.main-nav__user-nav {
	display: flex;
  align-items: center;
	padding: 0;
	margin: 0;
	margin-bottom: 22px;
	width: 500px;

	list-style: none;
}

.main-nav__user-search {
  display: flex;
}

.main-nav__search-input {
  box-sizing: border-box;
  width: 355px;
  padding: 5px 40px;

  color: rgba(0, 0, 0, 0.3);
	font-size: 15px;
	line-height: 36px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	letter-spacing: 0.01em;

	background-color: transparent;
	border: none;
  border-bottom: 2px solid transparent;
}

.main-nav__search-input:hover {
	color: rgba(0, 0, 0, 0.6);
}

.main-nav__search-input:focus {
	color: #000000;

  border-bottom: 2px solid #000000;
}

.main-nav__search-input:focus ~ .button--search {
  visibility: visible;
}

.main-nav__user-item {
	position: relative;

	margin-right: 40px;
	padding-left: 22px;
}

.main-nav__user-item:last-child {
	margin-right: 0;
}

.main-nav__user-item--search {
	padding-left: 0;
}

.main-nav__user-item--login {
	margin-right: auto;
	padding-left: 25px;
}

.main-nav__user-item a:hover,
.main-nav__user-item a:focus,
.main-nav__user-item a:active {
	opacity: 0.6;
}

.main-nav__user-item a:active {
	opacity: 0.3;
}

.main-nav__site-nav {
	display: flex;
	padding: 0;
	margin: 0;
	width: 500px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;

	list-style: none;
}

.main-nav__item {
  position: relative;

	margin-right: 35px;

	letter-spacing: 0.2em;
}

.main-nav__item:last-child {
	margin-right: 0;
}

.main-nav__item--contacts {
	margin-left: auto;
}

.main-nav__item a {
	cursor: pointer;
}

.main-nav__item a:hover,
.main-nav__item a:focus,
.main-nav__item a:active {
	color: rgba(0, 0, 0, 0.6);
}

.main-nav__item a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-nav__item-wrapper {
  position: absolute;
	z-index: 20;

  width: 1040px;
  margin-left: -60px;
  padding: 15px 60px;
  padding-bottom: 35px;

  background-color: #f7e296;
}

.main-nav__item .columns {
	width: 550px;
}

.main-nav__catalog {
	margin: 0;
	padding: 0;

	font-size: 15px;
	line-height: 36px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	text-transform: none;
	letter-spacing: 0.1px;

	list-style: none;
}

.main-nav__catalog-wrapper {

}

.page-title {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;

	color: #000000;
	font-size: 47px;
	font-weight: 800;
	line-height: 47px;
	font-family: "Gilroy", "Arial", sans-serif;
}

.breadcrumbs {
	display: flex;
	padding: 0;
	margin: 0;
	margin-bottom: 43px;

	list-style: none;
}

.breadcrumbs__link {
	margin-right: 32px;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link:last-child {
	margin-right: 0;
}

.breadcrumbs__link:hover a[href],
.breadcrumbs__link:focus a[href],
.breadcrumbs__link:active a[href] {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active a[href] {
	color: rgba(0, 0, 0, 0.1);
}

.preview {
  margin-top: -150px;
	margin-bottom: 105px;
	width: 1160px;
  height: 486px;
}

.preview__item {
	padding: 0 50px;
  padding-left: 00px;
  margin-bottom: 105px;
}

.slider {
  position: relative;
	z-index: 10;
}

.slider input[type=radio] {
	position: absolute;
  opacity: 0;
}

.slider__controls--preview {
	position: absolute;
	right: 70px;
	bottom: 158px;
	z-index: 100;
	width: 90px;
	height: 12px;
}

.slider__controls--preview label {
	position: relative;

	display: inline-block;
	margin-right: 16px;
	width: 10px;
	height: 10px;

	border: 1px solid #000000;
	border-radius: 50%;
	cursor: pointer;
}

.slider__controls--preview label:last-child {
	margin-right: 0;
}

.slider__item {
	position: absolute;
  top: 0;
  left: 0;

	visibility: hidden;
	box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider__item-pic {
  margin: 0;
  width: 526px;

  text-align: center;
}

.slider__item-wrapper {
  width: 510px;
  padding-top: 80px;
}

.slider__item-title {
  margin: 0;
  margin-bottom: 20px;

	color: #000000;
	font-size: 47px;
	font-weight: 800;
	line-height: 54px;
	font-family: "Gilroy", "Arial", sans-serif;
}

.slider__item-desc {
  margin: 0;
  margin-bottom: 40px;
}

.slider__item-button {
  margin: 0;
  margin-bottom: 50px;
}

.slider__item-tech {
  display: flex;
  justify-content: space-between;
  width: 460px;

	font-size: 13px;
	line-height: 20px;
  text-align: left;
}

.slider__item-tech td {
  padding: 0;
  width: 160px;

	color: #000000;
	font-size: 36px;
	line-height: 36px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
}

.slider__item-tech td:nth-child(2) {
  width: 140px;
}

.slider__item-tech th {
  padding: 10px 0;

  font-weight: 300;
}

#preview-btn-1:checked ~ .slider__content .slider__item:nth-child(1) {
  visibility: visible;
}

#preview-btn-2:checked ~ .slider__content .slider__item:nth-child(2) {
  visibility: visible;
}

#preview-btn-3:checked ~ .slider__content .slider__item:nth-child(3) {
  visibility: visible;
}

#preview-btn-1:checked ~ .slider__controls label[for="preview-btn-1"]::before,
#preview-btn-2:checked ~ .slider__controls label[for="preview-btn-2"]::before,
#preview-btn-3:checked ~ .slider__controls label[for="preview-btn-3"]::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;

  width: 4px;
	height: 4px;
	border: 1px solid #000000;
	border-radius: 50%;
}

.goods__list {
	flex-wrap: wrap;
  padding: 0;
  margin: 0;
	margin-bottom: 80px;

	list-style: none;
}

.goods__item {
  width: 160px;
	margin-bottom: 10px;
}

.goods__item-pic {
  display: flex;
  margin: 0;
  margin-bottom: 35px;
  width: 160px;
  height: 160px;

	background-color: #f7e296;
}

.goods__item-pic svg,
.goods__item-pic img {
  margin: auto;
}

.goods__item:hover .goods__item-pic,
.goods__item:focus .goods__item-pic,
.goods__item:active .goods__item-pic {
	background-color: #f0c52e;
}

.goods__item-pic:active {
	opacity: 0.3;
}

.goods__item-title {
  margin: 0;

	color: #000000;
	font-size: 18px;
	line-height: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
}

.services {
	width: 1160px;
	height: 390px;
	margin-bottom: 92px;

	background-image: linear-gradient(transparent 100px, #e5e5e5 100px);
}

.services__controls {
  display: flex;
  flex-direction: column;
	padding-top: 80px;
  width: 285px;
}

.services__controls::after {
	content: "";
	position: absolute;
	top: 0;
	left: 285px;

	width: 7px;
	height: 320px;

	background-color: #000000;
}

.services__controls .button {
	box-sizing: border-box;
	width: 160px;
	padding: 10px;
	padding-left: 25px;
	margin-bottom: 26px;
}

.services__list {
	position: relative;

	padding: 73px;
  padding-left: 115px;
	padding-right: 300px;
  margin: 0;
	width: 460px;

	list-style: none;
}

.services__item {
	position: absolute;

	visibility: hidden;
	width: 460px;
	height: 100%;
	overflow: hidden;
}

.services__item-title {
	margin: 0;
	margin-bottom: 30px;

	color: #000000;
	font-size: 47px;
	line-height: 47px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
}

#services-btn-1:checked ~ .services__list .services__item:nth-child(1) {
  visibility: visible;
}

#services-btn-2:checked ~ .services__list .services__item:nth-child(2) {
  visibility: visible;
}

#services-btn-3:checked ~ .services__list .services__item:nth-child(3) {
  visibility: visible;
}

#services-btn-1:checked ~ .services__controls label[for="services-btn-1"],
#services-btn-2:checked ~ .services__controls label[for="services-btn-2"],
#services-btn-3:checked ~ .services__controls label[for="services-btn-3"] {
	width: 100%;
	color: #ffffff;
	background-color: #000000;
}

#services-btn-1:checked ~ .services__controls label[for="services-btn-1"]:before,
#services-btn-2:checked ~ .services__controls label[for="services-btn-2"]:before,
#services-btn-3:checked ~ .services__controls label[for="services-btn-3"]:before {
	content: none;
}

.brands {
	margin-bottom: 85px;
}

.brands__list {
  padding: 0;
  margin: 0;

	list-style: none;
}

.brands__item {
	position: relative;
}

.brands__item-pic--color {
	position: absolute;
	top: 0;
	left: 0;

	opacity: 0;
	transition: 0.5s;
}

.brands__item-pic--color:hover {
	opacity: 1;
}

.about-us {
	padding: 50px 0;
  width: 475px;

  letter-spacing: 0;
}

.contacts {
	padding: 50px 0;
  width: 560px;

  letter-spacing: 0;
}

.about-us__title,
.contacts__title {
	margin: 0;
	padding: 0;
	margin-bottom: 44px;

	color: #000000;
	font-size: 47px;
	line-height: 47px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	letter-spacing: 0.01em;
}

.about-us__desc {
	margin: 0;
	margin-bottom: 30px;
}

.about-us__desc:last-of-type {
	margin-bottom: 65px;
}

.contacts__desc {
	margin: 0;
	margin-bottom: 40px;
}

.contacts__map {
	display: block;
	margin-bottom: 56px;
}

.about-us__delivery-list {
	padding: 0;
	padding-left: 35px;
	margin: 0;
	margin-bottom: 52px;

	color: #000000;
	font-size: 16px;
	line-height: 40px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;

	list-style: none;
}

.filters {
	width: 200px;
	padding-right: 70px;
	padding-left: 9999px;
	margin-left: -9999px;

	background-color: #efefef;
}

.filters__title {
  padding: 26px 0;
	padding-left: 9999px;
	margin: 0;
	margin-left: -9999px;
	margin-right: -70px;
	margin-bottom: 71px;

	color: #000000;
	font-size: 16px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	background-color: #dcdcdc;
}

.filters__section {
	padding: 0;
	margin: 0;

	color: #000000;
	font-size: 14px;
	line-height: 40px;

	border: none;
}

.filters__section-title {
  padding: 12px 0;
  padding-bottom: 25px;

	color: #000000;
	font-size: 18px;
	line-height: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;

  border-top: 2px solid #000000;
}

.filters__options {
	padding: 0;
  padding-bottom: 28px;
	margin: 0;

	list-style: none;
}

.filters__option {
  padding-left: 38px;
}

.filters__option label {
  cursor: pointer;
}

.filters__range {
  height: 83px;
}

.catalog-wrapper {
	width: calc(100vw - 330px); /*ширина вьюпорта - ширина фильтров*/
}

.catalog__item {
  display: flex;
  flex-direction: column;
}

.catalog__item-image {
  order: -1;
}

.sorting {
	align-items: center;
	padding-left: 70px;
	padding-right: 9999px;
	margin-right: -9999px;

	background-color: #ebebeb;
}

.sorting__title {
  padding: 26px 0;
	margin: 0;
	margin-right: 60px;

	color: #000000;
	font-size: 16px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.sorting__options {
	display: flex;
	padding: 0;
	margin: 0;

	list-style: none;
}

.sorting__buttons {
	margin: 0;
	margin-left: auto;
}

.sorting__option {
	margin-right: 30px;

	color: rgba(0, 0, 0, 0.3);
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	letter-spacing: 0;
}

.sorting__option:last-child {
	margin-right: 0;
}

.sorting__option a[href]:hover,
.sorting__option a[href]:focus,
.sorting__option a[href]:active {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.sorting__option a[href]:active {
  color: rgba(0, 0, 0, 1.0);
}

.sorting__option--current {
	color: #000000;
}

.catalog {
	padding: 70px;
	padding-right: 0;
  padding-bottom: 75px;
}

.catalog__list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;

	list-style: none;
}

.catalog__item {
	width: 360px;
	margin-right: 40px;
}

.catalog__item .columns {
  align-items: baseline;
}

.catalog__item:nth-child(2n) {
	margin-right: 0;
	margin-bottom: 55px;
}

.catalog__item:last-child {
	margin-bottom: 40px;
}

.catalog__item-title {
  align-items: center;
  padding: 0;
  margin: 0;
  width: 260px;

	color: #000000;
	font-size: 18px;
	line-height: 19px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
}

.catalog__item-price {
  width: 100px;

  text-align: right;
	color: #464646;
	font-size: 16px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
}

.catalog__item-image {
	position: relative;

  margin-bottom: 35px;
  width: 360px;
  height: 380px;

	cursor: pointer;
}

.catalog__item-image:hover .catalog__item-overlay {
	display: flex;
}

.catalog__item-overlay {
	position: absolute;
	top: 0;
	left: 0;

  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
	display: none;
  margin: 0;
	width: 360px;
	height: 380px;
	background-color: rgba(238, 238, 238, 0.7);
}

.catalog__item .button {
  margin-top: 35px;
  margin-bottom: 5px;

	color: #000000;
	font-size: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	line-height: 18px;
}

.catalog__item-link {
	font: inherit;
	color: rgba(0, 0, 0, 0.5);
	text-decoration: inherit;
	white-space: nowrap;
}

.catalog__item-link:hover,
.catalog__item-link:focus,
.catalog__item-link:active {
	color: #000000;
}

.catalog__item-link:active {
	color: rgba(0, 0, 0, 0.2);
}

.pagination {
  position: relative;

  display: flex;
	align-items: center;

	background-color: #ebebeb;
}

.pagination__list {
	display: flex;
	justify-content: space-around;
  min-width: 115px;
	margin: auto;
	padding: 20px 0;

	list-style: none;
}

.pagination__item a {
	color: rgba(0, 0, 0, 0.3);
	font-size: 16px;
	line-height: 16px;
  vertical-align: middle;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	text-decoration: none;
}

.pagination__item a[href]:hover,
.pagination__item a[href]:focus,
.pagination__item a[href]:active {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__item a[href]:active {
  color: rgba(0, 0, 0, 1.0);
}

.pagination__item--current a {
	color: #000000;
}

.button--prev,
.button--next {
  position: absolute;

  padding: 27px 30px;
  height: 100%;

	color: #000000;
	font-size: 16px;
	line-height: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	letter-spacing: 0.2em;

  background-color: transparent;
}

.button--prev {
  left: 0;
}

.button--next {
  right: 0;
}

.button--prev:hover,
.button--next:hover,
.button--prev:focus,
.button--next:focus,
.button--prev:active,
.button--next:active {
  background-color: #d9d9d9;
}

.button--prev:active,
.button--next:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-footer {
  margin-top: 30px;
  padding: 55px 0;

	color: #ffffff;
	background-color: #464646;
}

.inner-page .page-footer {
  margin-top: 0;
}

.page-footer .container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.page-footer .columns {
  align-items: center;
}

.page-footer .columns:first-child {
  margin-bottom: 26px;
}

.page-footer .columns:last-child {
  margin-top: 30px;
}

.logo--footer {
	color: #ffc600;
}

.main-nav--footer {
	color: #ffffff;
}

.main-nav__user-nav--footer {
  width: 360px;
  margin: 0;
}

.main-nav__user-nav--footer .main-nav__user-item--login {
	padding-left: 60px;
}

.main-nav__user-item--footer a,
.main-nav__user-item--footer a,
.main-nav__user-item--footer a {
  opacity: 0.7;
}

.main-nav__user-item--footer a:hover,
.main-nav__user-item--footer a:focus,
.main-nav__user-item--footer a:active {
  opacity: 1;
}

.main-nav__site-nav--footer {
	width: 460px;
}

.main-nav__item--footer {
	margin-right: 30px;
}

.main-nav__item--footer a:hover,
.main-nav__item--footer a:focus,
.main-nav__item--footer a:active {
  color: rgba(255, 255, 255, 0.6);
}

.main-nav__item--footer a:active {
  color: rgba(0, 0, 0, 0.3);
}

.address,
.phone {
  margin: 0;
}

.social {
  padding: 0;
  margin: 0;

	list-style: none;
}

.copyright {
	background-image: url("../img/svg/logo-html.svg");
}

.page-footer .columns--last::before {
  content: "";

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.modal__form label {
	color: #000000;
	font-size: 18px;
	line-height: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	letter-spacing: 0;
}

.modal__form input {
	background-color: #f2f2f2;
	border: 3px solid transparent;
	outline: none;
}

.modal__form input:hover {
	background-color: #ebebeb;
}

.modal__form input:focus {
	background-color: #ffffff;
	border: 3px solid #f7e296;
}

.modal__form input:invalid,
.modal__form textarea:invalid {
	background-color: #f6dada;
	border: 3px solid transparent;
	box-shadow: none;
}

.modal__form textarea {
	resize: none;
}

.modal__form input[placeholder],
.modal__form textarea[placeholder] {
	color: rgba(70, 70, 70, 0.4);
	font-size: 14px;
	line-height: 18px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 400;
	letter-spacing: 0;
}

.main-nav__user-item a.logout {
	color: rgba(0, 0, 0, 0.3);
}


.search-icon {
	position: absolute;
	top: 50%;
	left: 3px;

	transform: translateY(-50%);
}
